header nav {
  background-color:#444;
  margin-bottom: 30px;
  margin-left: -200px;
  height: 100px;

}

header nav img{
  margin-top: 15px;
  margin-left: 15px;
}

header ul{
  display: inline-block;
  padding-bottom: 10px;
  font-family: 'Questrial', sans-serif;

}

body{
  width: 100%;
  margin-left: 200px;
  font-family: 'Questrial', sans-serif;

  

}

 nav ul li {
  display: inline;
  color: white;
  text-align: center;
  margin: 6em;
  vertical-align: 30px;

}

#three {
  margin-top: 30px;
  margin-bottom: 30px;

}

body #three img{
  margin-right: 25px;
}

#sectioned .text{
  border: 1px solid transparent;
  width: 430px;
  height: 370px;
  display: inline-block;
  overflow: scroll;
  margin-left: 30px;
  margin-bottom: 30px;
}

#sectioned .text p:first-child{
  margin-top: 0px;
}

#sectioned .text p:first-child{

margin-bottom: -10px;
}



button {
  margin-right: 50px;
  margin-left: 40%;
  size: 3em;
  background-color: #444;
  color: white;
  padding: 7px 25px 7px 25px;
  text-align: center;
  vertical-align: 40px;

}
 

footer nav{
  background-color: #444;
  margin-top: 30px;
  height: 90px;
  margin-left: -200px;
  vertical-align: -10px;

}